@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:400,700,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;    
    box-sizing: border-box;
}

/* GENERAL STYLES */

body {
    background-image: url(../images/bg-pattern/dust_scratches.png);
    background-color: #F2F2F2;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    color: #595959;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
    color: #042F40;
}

/* Style for individual headings */
h1{
    font-size: 2.6em;
}

h2{
    font-size: 2.4em;
}

h3{
    font-size: 2.2em;
}

h4{
    font-size: 2.0em;
}

h5{
    font-size: 1.8em;
}

h6{
    font-size: 1.6em;
}


/* List Styles */
ul{

}
ul li{
    margin-left: 10px;
  padding-left: 30px;
}

ol{

}
ol li{
   margin-left: 10px;
  padding-left: 30px;
}

main {
    min-height: 80vh;
}

.content-width {
    margin: 0 auto;
    width: 820px;
}

.clear-float {
    clear: both;
}

/* STYLES FOR TEXT LINKS */
a:link{
    color: #F24150;
}
a:visited{
    color: #042F40;
}
a:hover{
    color: #1FAFBF;
}
a:active{
    color: #042F40;
}

/* HEADER STYLES */

header img {
    margin-top: 40px;
}

header nav {
    margin-top: 40px;
    float: right;
}

header nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-size: 0;
}

header nav ul li {
    display: inline-block;  
    border-left: 2px solid #595959;  
    border-top: 2px solid #595959;  
    border-bottom: 2px solid #595959;  
    margin: 0;
    padding: 0;	
}

header nav ul li:nth-of-type(4) {	
    border-right: 2px solid #595959;  
}

header nav ul li a:link{
    display: block; 
    background-color: #042F40; 
    color: #F2F2F2;
    text-decoration: none;	
    font-size: 16px; 
    font-weight: bold;
    margin: 0;
    padding: 12px 27px;    
    text-transform: uppercase;
}

header nav ul li a:visited{
    color: lightyellow;
}

header nav ul li a:hover{
    background-color: #F24150;
    color: #042F40; 
}

header nav ul li a:active{
    background-color: #595959;
    color: #042F40; 
}

.currentpage:active {
    background-color: #042F40;
    color: #1FAFBF; 
}

/* FOOTER STYLES */

footer {
    text-align: center;
    z-index: 1;
}

footer nav {
    background-color: #1FAFBF;
    color: #F2F2F2;    
}

footer nav {    
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
}

footer nav ul {
    list-style-type: none;
    padding: 5px 0;
}

footer nav ul li {
    display: inline-block;
    padding: 10px;  
}

footer nav ul li a:link {
    text-decoration: none;
    color: #F2F2F2;
}

footer nav ul li a:visited{
    color: lightyellow;
}

footer nav ul li a:hover{
    color: #042F40;
    text-decoration: underline;	
}

footer nav ul li a:active{
    color: #FFFFFF;	
}

footer #copyright-section {
    background-color: #042F40;
    color: #F2F2F2;
    font-size: .9em;
    font-weight: bold;
    
}

footer #copyright-section p {
    padding: 29px 0;
}

/* HOME PAGE STYLES */

#home-main h1:first-of-type {
    display: none;
}

#main-image {
    margin: 20px 0;
}

#home-main section {
    display: flex;
    margin-bottom: 20px;    
}

#home-main section:nth-of-type(1) {
    text-align: right;    
}

#home-main section:nth-of-type(1) div {
    padding: 64px 0 0 85px;     
}

#home-main section:nth-of-type(1) figure {
    margin-left: 20px;
    
}

#home-main section:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
}

#home-main section:nth-of-type(2) div {
    padding: 66px 85px 0 0; 
}

#home-main section:nth-of-type(2) figure {
    margin-right: 20px;
}

#home-main section div {
    width: 50%;
}

#home-main section figure {
    width: 50%;
}

#home-main section figure img {
    width: 100%;
}

#home-main section h2 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}


/* ABOUT PAGE STYLES */

#about-main {
    display: flex;    
}

#about-main div:nth-of-type(1) {
    margin: 30px 0 0 -200px;
}

#about-main div:nth-of-type(1) figure img{
    height: 600px;
    width: auto;
}

#about-main div:nth-of-type(2) {
    margin: 30px -200px 30px 0;
}

#about-main div:nth-of-type(2) figure img{
    height: 600px;
    width: auto;
}

#about-main section {
    margin-top: 30px;
    padding: 30px 25px 30px 30px;
}

#about-main section p {
    margin: 20px 0;
    font-size: 1.1em;
    line-height: 1.4em;
}

#about-main section h2 {
    font-size: 2em;
}

#social-media-icons {
    text-align: right;
    margin: 0;
    padding: 0;
}

#social-media-icons a {
    text-decoration: none;
    margin: 0 0 0 15px;
}

#social-media-icons a img:hover {
    transform: scale(1.2);
    transition-duration: 100ms;
}

/* CONTACT PAGE STYLES */

.two-column {
    display: flex;
}

#contact-main {
    margin-bottom: -10px;
}

#contact-main #contact-top-players {
    max-width: 60vw;
    bottom: -2%;    
    position: relative;
    z-index: -1;
    margin-bottom: -40px;
}

#contact-main #contact-top-players img {
    width: 100%;
}

#contact-main form {
    width: 50%;
    margin: 40px 0 40px 20px ;
    background-color: #1FAFBF;
    padding: 25px;
    border-radius: 10px;
    color: #FFFFFF;
}

#contact-main form fieldset {
    width: 100%;
}

#contact-main form legend {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;   
}

#contact-main form label {
    width: 100%;
    display: block;
    margin-top: 10px;
}

#contact-main form label:first-of-type {
    margin-left: -1px;
}

#contact-main form input {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    display: block;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    color: #595959;
}

#contact-main form textarea {
    font-family: 'Titillium Web', sans-serif;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: -25px;
    font-size: 1.1em;
    color: #595959;
}

#contact-main form button {
    width: 100%;
    display: block;
    margin-top: 10px;
    background-color: rgba(4, 47, 64, 0.9);
    padding: 10px;
    border-radius: 5px; 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    border: 2px solid #FFFFFF;
}

#contact-main form button:hover {
    cursor: pointer;
    background-color: #F24150;
    border: 2px solid #042F40;
    color: #042F40;
    box-shadow:  2px 2px  2px #595959;
}

#contact-main section {
    margin: 40px 20px 0 0;
    width: 50%;   
}

#contact-main section p {
    margin: 20px 0;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: center;
}

#contact-main section h2 {   
    margin-top: 40px; 
    font-size: 2em;
    line-height: 1em;
    text-align: center;    
}

#contact-balls {
    padding: 20px 20px 0 20px;
}

/* LA LIGA PAGE */

#liga-main {
    margin: 40px auto;
}

#liga-main .news-section figcaption {    
    background-color: rgba(4, 47, 64, 0.95); 
}

#liga-main .news-section figcaption:hover {
    background-color: rgba(242, 65, 80, 0.95);
    color: #042F40; 
}


/* PREMIER LEAGUE PAGE */

#premier-main {
    margin: 40px auto;
}

#premier-main .news-section figcaption {    
    background-color: rgba(31, 175, 191, 0.95);
    color: #042F40;    
}

#premier-main .news-section figcaption:hover {
    background-color: rgba(242, 65, 80, 0.95);    
}

/* NEWS PAGES STYLES */

.intro-section {
    width: 548px;
}

.intro-section h2 {
    margin-bottom: 30px;
}

.intro-section p {
    margin-bottom: 20px;
    font-weight: bold;
}

.news-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-column-gap: 13px;
    grid-row-gap: 13px;
}

#news-01 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#news-02 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#news-03 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#news-04 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#news-05 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.news-section a {
    text-decoration: none;
}

.news-section figcaption {
    height: 90.5px;
    background-color: rgba(4, 47, 64, 0.95);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px 30px;
}

.news-section figure {
    overflow: hidden;
    cursor: pointer;
}

.news-section figcaption:hover {
    cursor: pointer;
    background-color: #F24150;
}

.news-section img:hover {
    transform: scale(1.05);
    transition-duration: 00ms;
}

.main-news-call figure {
    width: 544px;
    height: 239px;
}

.main-news-call figure img {
    width: 544px;    
    height: 239px;
}

.main-news-call figcaption {
    width: 544px;
    margin-top: -97px;
    position: relative;
    z-index: 2;
    padding: 20px 150px;
}

.news-call figure {
    width: 265px;    
}

.news-call figure img{
    width: 265px;    
}

.news-call figcaption {
    width: 265px;       
    margin-top: -7px;
}

